# Git LFS tracking for specific large model files
backend/models/violence-detection-i3d-model.pth filter=lfs diff=lfs merge=lfs -text
backend/models/violence-detection-slowfast-model.pth filter=lfs diff=lfs merge=lfs -text
