#uncomment datasets if you're training the model without downloading the dataset manually
#datasets

#Threat Detection Models & Utils
ultralytics
torch
torchvision
opencv-python
numpy
matplotlib
seaborn
scikit-learn
pillow
fvcore
av
iopath

#API & Web App
fastapi
pydantic
python-multipart
uvicorn
streamlit
streamlit-webrtc
requests
twilio
PyYAML